:root {
    --nice-color: #F4CE15;
}

/*! The father of all */

/**The              Desktop          view*/

nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

/*? The element that come after the father */

nav>.desktop-view {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 80%;
}


/*? The Children */

nav ul li:not(:first-child) {
    margin: 1rem;
}

#TheLinks {
    color: black;
    text-decoration: none;
}




/** The            Phone          view */

/*! The father of all */
.phone-view {
    display: none;
    list-style: none;
}

/*! The father of the links mini father */

.TheMiniFather {
    width: 100%;
    position: relative;
    bottom: 0.1em;
    padding: 2em 0em;
    text-align: center;
    background-color: var(--nice-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    /* border: 1px solid red; */
}

/*? The child of the minifather view */
.MakeIt{
    margin: 7.5pc;
    color: red;
}
#TheLinksPh {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
}

/*? Hovers */
#TheLinksPh:hover {
    opacity: 75%;
    transition: 0.3s;
    border-bottom: 1px solid black;
}

/*! Media quires  */
/** This media is for    big screens */
@media screen and (max-width: 785px) {

    /*? The Desktop */
    .desktop-view {
        display: none !important;
    }


    /*? The phone */

    .phone-view {
        flex-flow: column;
        display: flex;
        align-items: center;
        width: 90%;
        /* border: 1px solid black; */
    }

    #ThePhoto {
        align-self: flex-start;
        margin: 1em;
        /* border: 1px solid black; */
    }
}