:root {
    --nice-color: #F4CE15;
}

/*! The father of all */

/**The              Desktop          view*/


nav {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 9999999999999999;
    transition: 0.5s ease-in-out;
    background-color: white;
    width: 100%;
    height: 7em;
    /* padding: 1em; */
}

nav.active {
    transition: 0.2s ease-in-out;
    -webkit-box-shadow: 0px 0px 69px -24px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: 0px 0px 69px -24px rgba(0, 0, 0, 0.78);
    box-shadow: 0px 0px 69px -24px rgba(0, 0, 0, 0.78);
}

/*? The element that come after the father */

nav>.desktop-view {
    width: 100%;
    margin: 0rem 3rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.TheNavLinksFather {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: top;
    flex-wrap: wrap;
}

.TheNavLinksFather li:first-child {
    position: relative;
    top: 1rem;
    /* border: 1px solid red; */
}

/*? The Children ----------Nav links*/

nav ul li {
    margin: 1rem;
}

nav ul li:not(:first-child) {
    margin-top: 2.1rem;
}

#TheLinks:hover {
    opacity: 1;
    border-bottom: 1px solid black;
    padding: 0.2em;
    transition: 0.1s;
}

#TheLinks {
    padding: 0.2em;
    opacity: 0.8;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.MakeItLeft {}

.lactive-class {
    -webkit-box-shadow: 0px 10px 0px 0px rgba(245, 208, 22, 1);
    -moz-box-shadow: 0px 10px 0px 0px rgba(245, 208, 22, 1);
    box-shadow: 0px 10px 0px 0px rgba(245, 208, 22, 1);
}


/** The            Phone          view */

/*! The father of all */
.phone-view {
    display: none;
    list-style: none;
    /* border: 1px solid black; */
}

/*! The father of ALLLLLLLLLLLLLLLLLLLL */

.TheMegaP {
    display: none;
}

.TheParents {
    display: none;
}

/*! The father of the links mini father */

.TheMiniFather {
    width: 100%;
    padding: 2em 0em;
    position: absolute;
    text-align: center;
    background-color: var(--nice-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    /* border: 1px solid red; */
}

/*? The child of the minifather view */

#TheLinksPh {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid transparent;
    opacity: 1;
    padding: 0.5em;
}

#TheLinksPh {
    -webkit-animation: tilt-in-left-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-left-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-left-1 {
    0% {
        -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
        transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
        transform: rotateX(0deg) translateX(0) skewX(0deg);
        opacity: 1;
    }
}

@keyframes tilt-in-left-1 {
    0% {
        -webkit-transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
        transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
        transform: rotateX(0deg) translateX(0) skewX(0deg);
        opacity: 1;
    }
}

/*? Hovers */
#TheLinksPh:active {
    transition: 0.1s;
    opacity: 0.7;
    border-bottom: 1px solid black;
}

/*! Media quires  */
/** This media is for    big screens */
@media screen and (max-width: 793px) {

    /*? The Desktop */
    .desktop-view {
        display: none !important;
    }


    /*? The phone */

    .phone-view {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        width: 100%;
        transition: 2s all;
    }

    #ThePhoto {
        align-self: flex-start;
        margin: 1em;
        width: 9em;
        /* border: 1px solid black; */
    }

    .TheMegaP {
        display: flex;
        width: 100%;
        flex-flow: column;
        justify-content: end;
        align-items: center;
        /* border: 1px solid black; */
    }


    /*! The father of tops */
    .TheParents {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        /* border: 1px solid red; */

    }
}