/*! The father of all */

footer > section > div > p {
    font-size: smaller;
}

.thegridder{
    display: grid;
    grid-template-columns: 30em 30em 30em 10em;
}

.TheTopers{
    font-size: x-large;
    font-weight: 500;
}

.FirstDiv{
    background-color: red;
}