/*! Father of all */

.fathofAll {
    margin: 10rem 0rem;
    overflow: hidden;
}

/** The First section of the first group */

.FirstSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E8C46A;
}

.FirstSection>img:first-of-type {
    width: 12em;
    position: relative;
    rotate: 50deg;
    left: -6em;
    top: 3em;
    opacity: 0.8;
    overflow: hidden;
}

.TheTextt {
    padding: 2em;
    text-align: center;
}

.TheTextt>h2 {
    font-size: 3em;
    font-weight: 600;
}

.TheTextt>p {
    color: #FFFFFF;
    opacity: 0.7;
}

/** Second section of the first group  */

.SecondSection {
    background-color: #E8C46A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    gap: 5em;
    height: 25em;
}

.OuterShell {
    text-align: center;
    border: 1px solid black;
}


/*? First Group  */

.ChairImg {
    position: relative;
    width: 9em;
    bottom: 0.2em;
}

#MakeItLeft {
    float: right;
    margin: 0.5em;
    cursor: help;
}

.TheContent1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 35em;
    margin-top: 5em;
}

.TheText {
    margin-right: 2rem;
}

#TheH2 {
    font-size: 4.4em;
    text-align: left;
}

#SppnImg {
    position: relative;
    top: 10px;
}


.ThenoicyP {
    color: #707070;
    opacity: 0.8;
    text-align: left;
    width: 20.5em;
    font-size: 0.9rem;
}

.TheBigButton {
    background-color: black;
    margin: 1rem 0em;
    padding: 0.5em;
    width: 78%;
    text-align: center;
    cursor: pointer;
}

.TheBigButton2 {
    background-color: white;
    margin: 1rem 0em;
    padding: 1em;
    width: 78%;
    text-align: center;
    border: none;
    cursor: pointer;
}

#ContinueText2 {
    font-size: x-large;
    font-weight: 550;
    /* position: relative;
    bottom: 0.2em; */
    cursor: pointer;
}

#WhiteandWeirdChare {
    margin-left: 1em;
    position: relative;
    top: 0.2em;
    cursor: pointer;
}


#ContinueText {
    color: white;
    font-size: x-large;
    font-weight: 550;
    position: relative;
    bottom: 0.2em;
    cursor: pointer;
}

#BlackArrow {
    position: relative;
    top: 0.45em;
    cursor: pointer;
}

#MakeItLeft {
    position: relative;
    width: 1.8em;
}

.box {
    width: 30em;
    background-color: rgb(243, 239, 239);
    padding: 1em;
    border-radius: 1em;
}

.boox {
    width: 30em;
    background-color: rgb(243, 239, 239);
    padding: 1em;
    border-radius: 1em;
}

.booox {
    width: 30em;
    text-align: center;
    background-color: rgb(243, 239, 239);
    padding: 1em;
    border-radius: 1em;
}


/*! Third section  */

