/* ! The father of all */

.TheHero {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*? The second father */

.TheFirstBoy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: 1px solid black; */
}

/** The children */
.TheFirstGrand{
    width: 50%;
    /* border: 1px solid black; */
}

.TheSecondGrand{
    /* height: 45vh; */
    /* border: 1px solid black; */
    width: fit-content;
}

/** The grand children */

#TheBurgerImg{
    width: 35rem;
    margin-top: 2rem;
}

.TheFirstGrand h2{

}