:root {
    --bac: #F4CE14;
    --trad: 4em;
}

/* !! The father of all children */
.TheFather {
    margin-top: 2.5rem;
    width: 70%;
    text-align: center;
    /* background-color: red; */
}

/*! The section of the father */

/*? First section */
.FSection {
    padding: 2rem 0rem;
    /* background-color: green; */
}

/** The children of the first section */

.FSection h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.FSButton {
    text-align: start;
    border-bottom: 1px solid black;
    width: 15rem;
    opacity: 0.6;
}

.FSButton input {
    padding: 0.8rem 2.2rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    border: none;
    /* border: 1px solid red; */
}

.FSButton input::placeholder {
    color: black;
    font-weight: 100;
}


.icon {
    background: url("./../../../assets/TheSeach.png") no-repeat 0.2rem;
    background-size: 25px;
}


/*? Third section */
/** The children of the second section */
.SSection {
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap: 0.5rem;
    padding: 1rem 0rem;
    border-bottom: 1px solid black;
}

.SSection button {
    border: none;
    background-color: transparent;
    padding: 1.5rem 1.5rem;
}

.SSection>button:focus {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0rem;
    transition: 0.2s;
}

.SSection>div {
    margin-left: auto;
    width: 15rem;
    height: fit-content;
    cursor: pointer;
    /* border: 1px solid black; */
}

.TheLin {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.TheLin:hover {
    background-color: #ffffff;
    transition: ease-in-out 0.2s;
}

.LeftSideCu {
    cursor: pointer;
}

.LeftSideCu:hover {
    transition: ease-in-out 0.2s;
    background-color: #ffffff;
}

[aria-pressed="false"] {
    background-color: white;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: #F4CE14;
    border: 3px solid black;
    padding: 0.5em;
}

[aria-pressed="true"] {
    border: 1px solid black;
    cursor: pointer;
    background-color: #f8de5d;
    border: 2px solid rgb(44, 44, 44);
    padding: 0.5em;
}

#Shopping {
    cursor: pointer;
    width: 2rem;
}

/*? Second section */

/** The children of the third section */


.TSection {
    display: grid;
    grid-template-columns: repeat(4, 0.3fr);
    grid-template-rows: minmax(1fr);
    border-top-left-radius: var(--trad);
    border-top-right-radius: var(--trad);
    overflow: hidden;
    min-height: 25vh;
    gap: 1rem;
    margin-bottom: 10pc;
    margin-top: 2pc;
}

#Theimgs {
    pointer-events: none;
    width: 250px;
}

#Plus {
    cursor: pointer;
}

.Cards {
    background-color: white;
    margin: 1rem 1rem;
    border-radius: 1em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.FirstPart {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black;
    height: 100%;
}

.BottomPart {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid black;
    height: 5rem;

}

.BottomPartFirst {
    text-align: center;
    margin-left: 2rem;
}

.BottomPartSecond>button {
    background-color: transparent;
    border: none;
    margin-right: 1rem;
    /* border-left: 1px solid black;    */
    width: 100%;
    height: 100%;
    border-left: 1px solid black;
}

.invisible {
    border: none;
}